*.class
/Source_code/Project-Spreadsheet/SpreadSheet/nbproject/private/
/Source_code/ChessGame/nbproject/
/Source_code/Project-Spreadsheet/SpreadSheet/build/
/Source_code/SpreadSheedm/nbproject/
/Source_code/SpreadSheedm/target/